.about-me {
  padding: 120px 0 107px;
  background-color: $wild-sand;

  @media (max-width: $sm) {
    padding: 81px 0 76px;
  }

  &__title {
    margin-bottom: 20px;

    @media (max-width: $sm) {
      margin-bottom: 40px;
    }
  }

  &__wrapper {
    max-width: 500px;
    margin: 0 auto;


    &-p {
      text-align: center;

      &:not(:last-child) {
        margin-bottom: 25px;

        @media (max-width: $sm) {
          margin-bottom: 35px;
        }
      }
    }
  }
}
