.header {
  @media (max-width: $sm) {
    transform: translateY(-100%);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: $white;
    padding-top: 9vh;
    transition: transform 1s ease;

    &.active {
      transform: translateY(0);
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;

    @media (max-width: $sm) {
      padding: 0;
      gap: 8vh;
      flex-direction: column;
      align-items: start;
    }

    &-link {
      color: $gray;
      font-weight: 700;

      @media (max-width: $sm) {
        font-size: 34px;
      }

      &:hover {
        color: $cod-gray;
        text-decoration: underline;
        text-underline-offset: 8px;
      }
    }
  }

  &__language {
    display: none;

    @media (max-width: $sm) {
      display: flex;
      position: absolute;
      z-index: 1001;
      right: $container-padding;
      bottom: 150px;
      transform: rotate(90deg) translateX(100%);
      transform-origin: right top;

      &-btn {
        font-size: 34px;
      }
    }
  }

  &__hr {
    border: none;
    height: 1px;
    background-color: $gray;

    @media (max-width: $sm) {
      display: none;
    }
  }
}
