$montserrat: 'Montserrat';

$primary-font-family: $montserrat, Arial, Calibri, Helvetica, sans-serif;
$primary-font-size: 18px;
$primary-line-height: 1.22;
$primary-font-weight: 500;
$primary-font-color: $cod-gray;